@{
  Layout = "_Layout";
}

@using VendorTracker.Models

<div class="container">
  <h1>Current Vendors:</h1>
</div>

@if (@Model.Count == 0)
{
  <div class="empty container">
    <h3>There are currently no vendors.</h3>
  </div>
}

<div class="display-list container">
  <ul>
    @foreach (Vendor vendor in @Model)
    {
      <li><h2><a href="/vendors/@vendor.Id">@vendor.Name</a></h2></li>
    }
  </ul>
</div>

<div class="links container">
  <h4><a href="/vendors/new">Add a New Vendor</a></h4>
  <h6><a href="/">Back to Home Page</a></h6>
</div>