@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Add a New Vendor</h1>
</div>

<div class="container">
  <form action="/vendors" method="post">
    <label for="vendorName">Vendor's Name:</label>
    <input id="vendorName" name="vendorName" type="text" required>

    <label for="vendorDescription">Vendor's Description:</label>
    <input id="vendorDescription" name="vendorDescription" type="text" required>

    <button type="submit" class="btn btn-success">Add Vendor</button>
  </form>
</div>

<div class="container">
  <h5><a href="/vendors">Back to Vendors</a></h5>
  <h5><a href="/">Back to Home Page</a></h5>
</div>