@{
  Layout = "_Layout";
}

@using VendorTracker.Models;

<div class="container">
  <h1>Add a New Order for @Model.Name</h1>
</div>

<div class="container">
  <form action="/vendors/@Model.Id/orders" method="post">
    <label for="title">Enter a Title:</label>
    <input id="title" name="title" type="text" required>

    <label for="description">Enter a Description:</label>
    <input id="description" name="description" type="text" required>

    <label for="price">Enter a Price:</label>
    <input id="price" name="price" type="number" required>

    <label for="date">Enter the Date:</label>
    <input id="date" name="date" type="text" required>

    <button type="submit">Add Order</button>
  </form>
</div>

<div class="container">
  <h5><a href="/vendors/@Model.Id/">Back to Vendor Page for @Model.Name</a></h5>
  <h5><a href="/vendors">Back to Vendors</a></h5>
</div>