@{
  Layout = "_Layout";
}

@using VendorTracker.Models;

<div class="container">
  <h1>Add a New Order</h1>
  <h3>for @Model.Name</h3>
</div>

<div class="container">
  <form action="/vendors/@Model.Id/orders" method="post">
    <label for="title">Enter a Title:</label>
    <br />
    <input id="title" name="title" type="text" placeholder="Order Title" required>
    <br />
    <label for="description">Enter a Description:</label>
    <br />
    <textarea id="description" name="description" type="text" placeholder="Order Description" required></textarea>
    <br />
    <label for="price">Enter a Price:</label>
    <br />
    <input id="price" name="price" type="number" placeholder="Nearest Whole Dollar" required>
    <br />
    <label for="date">Enter the Date:</label>
    <br />
    <input id="date" name="date" type="date" required>
    <br />
    <br />
    <button type="submit" class="btn btn-success">Add Order</button>
  </form>
</div>

<div class="links container">
  <h5><a href="/vendors/@Model.Id/">Back to Orders</a></h5>
  <h5><a href="/vendors">Back to Vendors</a></h5>
</div>