@{
  Layout = "_Layout";
}

@using VendorTracker.Models;

<div class="container">
  <h1>Order Details</h1>
</div>

<div class="container">
  <h4>@Model["order"].Date</h4>
  <h3>@Model["order"].Title</h3>
  <h4>Description: @Model["order"].Description</h4>
  <h4>Order Price: $@Model["order"].Price</h4>
</div>

<div class="links container">
  <h4><a href='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id/edit'>Edit Order</a></h4>
  <br/>
  <h5><a href='/vendors/@Model["vendor"].Id/'>Back to Orders</a></h5>
  <h5><a href="/vendors">Back to Vendors</a></h5>
</div>